<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmoa.besteasy.mappers.AuthorityMapper">
	
	<select id="getSubAuthorities" resultType="com.cmoa.besteasy.entities.Authority">
		SELECT id, display_name, name, permissions, parent_authority_id, url
		FROM t_authorities
		WHERE parent_authority_id = #{id}
	</select>

	<select id="getparents" resultType="com.cmoa.besteasy.entities.Authority">
		SELECT id, display_name, url
		FROM t_authorities
		WHERE parent_authority_id is null
	</select>

</mapper>