<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmoa.besteasy.mappers.ProattachMapper" >
  <resultMap id="BaseResultMap" type="com.cmoa.besteasy.entities.Proattach" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="atth_num" property="atthNum" jdbcType="CHAR" />
    <result column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="ord_id" property="ordId" jdbcType="INTEGER" />
    <result column="ptid" property="ptid" jdbcType="INTEGER" />
    <result column="Submitter_id" property="submitterId" jdbcType="INTEGER" />
    <result column="Submitter_num" property="submitterNum" jdbcType="CHAR" />
    <result column="atth_url" property="atthUrl" jdbcType="VARCHAR" />
    <result column="atth_name" property="atthName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="atth_ver" property="atthVer" jdbcType="CHAR" />
    <result column="size" property="size" jdbcType="DOUBLE" />
    <result column="atth_content" property="atthContent" jdbcType="VARCHAR" />
    <result column="section_num" property="sectionNum" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_uid" property="createUid" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="ordered" property="ordered" jdbcType="INTEGER" />
    <result column="delflag" property="delflag" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_proattach
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmoa.besteasy.entities.Proattach" >
    insert into t_proattach (id, atth_num, pro_id, 
      ord_id, ptid, Submitter_id, 
      Submitter_num, atth_url, atth_name, 
      type, file_name, atth_ver, size, 
      atth_content, section_num, create_time, 
      create_uid, create_user, ordered, 
      delflag, remark)
    values (#{id,jdbcType=INTEGER}, #{atthNum,jdbcType=CHAR}, #{proId,jdbcType=INTEGER}, 
      #{ordId,jdbcType=INTEGER}, #{ptid,jdbcType=INTEGER}, #{submitterId,jdbcType=INTEGER}, 
      #{submitterNum,jdbcType=CHAR}, #{atthUrl,jdbcType=VARCHAR}, #{atthName,jdbcType=VARCHAR}, 
      #{type,jdbcType=BIT}, #{fileName,jdbcType=VARCHAR}, #{atthVer,jdbcType=CHAR}, #{size,jdbcType=DOUBLE}, 
      #{atthContent,jdbcType=VARCHAR}, #{sectionNum,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUid,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, #{ordered,jdbcType=INTEGER}, 
      #{delflag,jdbcType=BIT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmoa.besteasy.entities.Proattach" >
    update t_proattach
    set atth_num = #{atthNum,jdbcType=CHAR},
      pro_id = #{proId,jdbcType=INTEGER},
      ord_id = #{ordId,jdbcType=INTEGER},
      ptid = #{ptid,jdbcType=INTEGER},
      Submitter_id = #{submitterId,jdbcType=INTEGER},
      Submitter_num = #{submitterNum,jdbcType=CHAR},
      atth_url = #{atthUrl,jdbcType=VARCHAR},
      atth_name = #{atthName,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      file_name = #{fileName,jdbcType=VARCHAR},
      atth_ver = #{atthVer,jdbcType=CHAR},
      size = #{size,jdbcType=DOUBLE},
      atth_content = #{atthContent,jdbcType=VARCHAR},
      section_num = #{sectionNum,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_uid = #{createUid,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      ordered = #{ordered,jdbcType=INTEGER},
      delflag = #{delflag,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, atth_num, pro_id, ord_id, ptid, Submitter_id, Submitter_num, atth_url, 
    atth_name, type, file_name, atth_ver, size, atth_content, section_num, create_time, 
    create_uid, create_user, ordered, delflag, remark
    from t_proattach
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, atth_num, pro_id, ord_id, ptid, Submitter_id, Submitter_num, atth_url, 
    atth_name, type, file_name, atth_ver, size, atth_content, section_num, create_time, 
    create_uid, create_user, ordered, delflag, remark
    from t_proattach
  </select>
</mapper>