<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmoa.besteasy.mappers.StatementMapper" >
  <resultMap id="BaseResultMap" type="com.cmoa.besteasy.entities.Statement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stt_num" property="sttNum" jdbcType="VARCHAR" />
    <result column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="cus_name_zh" property="cusNameZh" jdbcType="VARCHAR" />
    <result column="cus_name_en" property="cusNameEn" jdbcType="VARCHAR" />
    <result column="st_email" property="stEmail" jdbcType="VARCHAR" />
    <result column="st_tel" property="stTel" jdbcType="VARCHAR" />
    <result column="st_fax" property="stFax" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="invoice_type" property="invoiceType" jdbcType="SMALLINT" />
    <result column="ivoices_num" property="ivoicesNum" jdbcType="VARCHAR" />
    <result column="cus_sign" property="cusSign" jdbcType="BIT" />
    <result column="create_r_date" property="createRDate" jdbcType="DATE" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="create_username" property="createUsername" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="ordered" property="ordered" jdbcType="INTEGER" />
    <result column="delflag" property="delflag" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_statement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmoa.besteasy.entities.Statement" >
    insert into t_statement (id, stt_num, emp_id, 
      cus_id, cus_name_zh, cus_name_en, 
      st_email, st_tel, st_fax, 
      total, invoice_type, ivoices_num, 
      cus_sign, create_r_date, create_time, 
      create_user, create_username, update_time, 
      ordered, delflag, remark
      )
    values (#{id,jdbcType=INTEGER}, #{sttNum,jdbcType=VARCHAR}, #{empId,jdbcType=INTEGER}, 
      #{cusId,jdbcType=INTEGER}, #{cusNameZh,jdbcType=VARCHAR}, #{cusNameEn,jdbcType=VARCHAR}, 
      #{stEmail,jdbcType=VARCHAR}, #{stTel,jdbcType=VARCHAR}, #{stFax,jdbcType=VARCHAR}, 
      #{total,jdbcType=DECIMAL}, #{invoiceType,jdbcType=SMALLINT}, #{ivoicesNum,jdbcType=VARCHAR}, 
      #{cusSign,jdbcType=BIT}, #{createRDate,jdbcType=DATE}, #{createTime,jdbcType=DATE}, 
      #{createUser,jdbcType=INTEGER}, #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=DATE}, 
      #{ordered,jdbcType=INTEGER}, #{delflag,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmoa.besteasy.entities.Statement" >
    update t_statement
    set stt_num = #{sttNum,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=INTEGER},
      cus_id = #{cusId,jdbcType=INTEGER},
      cus_name_zh = #{cusNameZh,jdbcType=VARCHAR},
      cus_name_en = #{cusNameEn,jdbcType=VARCHAR},
      st_email = #{stEmail,jdbcType=VARCHAR},
      st_tel = #{stTel,jdbcType=VARCHAR},
      st_fax = #{stFax,jdbcType=VARCHAR},
      total = #{total,jdbcType=DECIMAL},
      invoice_type = #{invoiceType,jdbcType=SMALLINT},
      ivoices_num = #{ivoicesNum,jdbcType=VARCHAR},
      cus_sign = #{cusSign,jdbcType=BIT},
      create_r_date = #{createRDate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=DATE},
      create_user = #{createUser,jdbcType=INTEGER},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      ordered = #{ordered,jdbcType=INTEGER},
      delflag = #{delflag,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, stt_num, emp_id, cus_id, cus_name_zh, cus_name_en, st_email, st_tel, st_fax, 
    total, invoice_type, ivoices_num, cus_sign, create_r_date, create_time, create_user, 
    create_username, update_time, ordered, delflag, remark
    from t_statement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, stt_num, emp_id, cus_id, cus_name_zh, cus_name_en, st_email, st_tel, st_fax, 
    total, invoice_type, ivoices_num, cus_sign, create_r_date, create_time, create_user, 
    create_username, update_time, ordered, delflag, remark
    from t_statement
  </select>
</mapper>